.header {
  position: fixed;
  font-family: 'Montserrat', Arial, sans-serif;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;

  @media (max-width: 768px) {
    flex-direction: row;
    min-height: 56px;
  }
}


.logoContainer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  height: 100%;

  @media (max-width: 768px) {
    .logoImage {
      height: 48px;
    }
  }
}

.logoImage {
  height: 150px;
  width: auto;
  margin-right: 16px;
  user-select: none;
  opacity: 1;
  filter: brightness(0) invert(1);
}


.logo {
  font-size: 2.8rem;
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-align: left;
  margin-top: 2px;
  user-select: none;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: none;
  border: none;
  cursor: pointer;
  span {
    display: block;
    width: 26px;
    height: 3px;
    margin: 4px 0;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
  }
  @media (max-width: 768px) {
    display: flex;
  }
}